<div *ngIf="!loginService.isLoggedIn()">
    <router-outlet></router-outlet>
</div>

<div class="layout-wrapper">
    <div id="layout-topbar">
        <div>
            <img src="../assets/schoollogo.jpg" alt="LOGO" height="50px;" width="100px;" style="padding: 5px;" />
            <h1 class="logo">Welcome to Inventory Management</h1>
        </div>
    </div>

    <div>
        <div id="layout-sidebar">
            <div class="layout-menu">
                <a routerLink="/main-page" routerLinkActive="active-link">Main Page</a>
                <a routerLink="/app-items" routerLinkActive="active-link">Items</a>
                <a routerLink="/app-vendors" routerLinkActive="active-link">Vendors</a>
            </div>
        </div>
    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>